/*  HEADER */

body{
  background-color: #EDEFF0;;
}
body>header{
  background-color: #046DD5;
  text-align: left;
  line-height: 0.5;
  padding-top: 1px;
  padding-left: 1em;
  font-family: verdana;
}

body>header>h1>a, body>header>h2>a{ /*nao ha melhor forma?*/
  color: white;
}

body>header>h2{
  font-size: 15px;
}

#signup{
  font-size: 15px;
}

#signup>a:first-of-type::after{
  content: " | ";
}

#signup>a{
  color: white;
}

a{
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}

/*  MENU  */
#menu>input[type = checkbox]{
  display:none;
}

#menu>ul{
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  list-style-type: none;
  color: green;
  font-family: verdana;
  text-decoration: none;
  margin-top: 0px;
  padding-left: 0px;
}

#menu>ul>li{
  padding-top: 10px;
  padding-bottom: 10px;
}

#menu>ul>li>a{
  color: black;
}

#menu>ul>li:nth-child(1){
  border-top: 5px solid #E1493E;
}
#menu>ul>li:nth-child(2){
  border-top: 5px solid #8ABA56;
}
#menu>ul>li:nth-child(3){
  border-top: 5px solid #5B4282;
}
#menu>ul>li:nth-child(4){
  border-top: 5px solid #FF8932;
}
#menu>ul>li:nth-child(5){
  border-top: 5px solid #19B6E9;
}
#menu>ul>li:nth-child(6){
  border-top: 5px solid #E84C8B;
}

/*  RELATED */
#related{
  padding: 1em;
  background-color: #2A2F33;
  color:white;
}

#related>article>h1>a{
  color:white;
  text-decoration: none;
}

/*  NEWS  */
#news>article>header>h1>a{
  color:white;
  text-decoration: none;
  position: absolute;
  width:14%;
  padding: 1em;
  text-shadow: 5px 5px 5px black;
  font-family: verdana;
}

#news>article>img{
  width: 100%;
  height: 100%;
}

#news>article>p{
  padding-left: 1em;
}

#news>article>p:first-of-type::first-letter{
  text-transform: uppercase;
  font-size: 2em;
  font-weight: bold;
}

#news>article>footer{
  background-color: #F4655F;
  color:white;
  padding: 0.5em;
  text-decoration:none;
}

#news>article>footer>a{
  margin-left: 1em;
}

#news>article>footer>span.date{
  margin-left: 1em;
}

#news>article>footer>span>a, #news>article>footer>a{
  text-decoration: underline;
  color:white;
}

#news>article>footer>a::after{
  content: " comments";
}

#news>article>footer>span:first-of-type::before{
  content: "By ";
}

/*  BODY FOOTER */
body>footer>p{
  background-color: #2A2F33;
  color:white;
  padding: 1em;
}
